<mat-card>
  <h1 class="text-centered">Contacts Book</h1>
  <mat-card-content>
    @if(contacts$ | async; as contacts) {
        @if(selectedContact$ | async; as selectedContact) {
        }
        <table mat-table [dataSource]="contacts" multiTemplateDataRows>
            <ng-container matColumnDef="firstName">
              <th mat-header-cell *matHeaderCellDef>First Name</th>
              <td mat-cell *matCellDef="let contact">{{ contact.firstName }}</td>
            </ng-container>
    
            <ng-container matColumnDef="lastName">
              <th mat-header-cell *matHeaderCellDef>Last Name</th>
              <td mat-cell *matCellDef="let contact">{{ contact.lastName }}</td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns"
              (click)="toggleSelectedContact(row)"
              class="element-row"
              [class.expanded]="selectedContact?.id === row.id"
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: ['expandedDetail']"
              class="detail-row"
              [class.expanded]="selectedContact?.id === row.id"
            ></tr>
    
            <ng-container matColumnDef="expandedDetail">
              <td
                mat-cell
                *matCellDef="let contact"
                [attr.colspan]="displayedColumns.length"
              >
                <div
                  class="element-detail"
                  *ngIf="selectedContact?.id === contact.id"
                >
                  <p>Phone: {{ contact.phone }}</p>
                  <p>Email: {{ contact.email }}</p>
                  <p>Address: {{ contact.address }}</p>
                </div>
              </td>
            </ng-container>
          </table>
    }
    
    <div class="mt-20">
      <button
        mat-flat-button
        color="primary"
        class="full-width"
        (click)="openAddContactModal()"
      >
        Add New Contact
      </button>
    </div>
  </mat-card-content>
</mat-card>
